@{
    ViewBag.Title = "PÁGINA DE ERRO | Projeto PetAdote";
    Layout = "~/Views/Shared/_NavHomePage.cshtml";
}


<link rel="stylesheet" type="text/css" href="~/Content/css/notFound.css" />


<!-- SESSAO NOTFOUND -->
<section class="container listaVazia">
    <div class="row">
        
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row container">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> <br><br> </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 aviso">
                    <center>
                        <h4 class="texto">OPS! Algo deu errado.</h4>
                        <h4 class="texto">Já estamos trabalhando para resolver esse problema.</h4>
                    </center>
                </div>
            </div>
        </div>
    </div>
</section>