.bannerInicial {
    background: url('/Images/bannerEntrar.png') no-repeat center center fixed;
    background-position: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: center;
    height: 100vh;
}
#formularioCadastro.container{
    background-color: rgba(255, 255, 255, 0.774);
    border-radius: 6px;
    padding-top: 3%;
    padding-bottom: 3%;
}
.avisoObrigatorio{
    font-size: 10px; 
    color:rgb(66, 66, 66);
}

.divCadastro{
    width: 100%;
    height: 35.7em;
}

@media (max-width: 575.98px) {    
    .divCadastro{
        width: 100%;
        height: 34em;
    }
  
}