/* --------- CSS MENU --------- */

.corNav{
    background-color: #00468c !important;
    border: none;
}
.item-sidebar {
    color: white !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 50px !important;
    padding-right: 50px !important;
}
.nav-item-sidebar{
  color: white !important;
  font-size: 25px;
  position: absolute;
  margin-top: 12px;
  padding-left: 10px;

}
.hoverLink{
  color: white !important;
}
.hoverLink:hover{
  color: white !important;
  background-color: #df6c15 !important;
  margin-bottom: 0px;
}

.navbar-default .navbar-toggle .icon-bar{
  background-color:#df6c15 !important
}

.iconNav{
  margin-left: 4px;
}