.titulo{
    font-size: 28px;
}
.container{
    position: absolute;
    width: 100%;
}
.listaParceiros{
    position: absolute;
    margin-top: 10%;
}
.tamanhoImgs{
    width: 150px !important;
    height:150px !important;
}
.thumbnail{
    width: auto !important;
    max-width: 500% !important;
    border-color: white;
}

/* xs*/
@media (max-width: 575.98px) {
    .titulo{
        font-size: 27px;
    }
    .listaParceiros{
        position: absolute;
        margin-top: 20%;
    }
    .tamanhoImgs{
        width: 100px !important;
        height:100px !important;
    }
}

/* sm*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .listaParceiros{
        position: absolute;
        margin-top: 15%;
    }
    .tamanhoImgs{
        width: 120px !important;
        height:120px !important;
    }
    .thumbnail{
        width: auto !important;
        max-width: 100% !important;
    }
}

/* md*/
@media (min-width: 768px) and (max-width: 991.98px) {
   
    .listaParceiros{
        position: absolute;
        margin-top: 13%;
    }
    .tamanhoImgs{
        width: 130px !important;
        height:130px !important;
    }
    .thumbnail{
        width: auto !important;
        max-width: 500% !important;
    }
    
}

/* lg*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    .listaParceiros{
        position: absolute;
        margin-top: 10%;
    }
    .tamanhoImgs{
        width: 150px !important;
        height:150px !important;
    }
    .thumbnail{
        width: auto !important;
        max-width: 90% !important;
    }
    
}
