
@{
    ViewBag.Title = "CONFIRMAÇÃO DE EMAIL | Projeto PetAdote";
}

<title>CONFIRMAÇÃO DE EMAIL | Projeto PetAdote</title>
<link rel="stylesheet" href="~/Content/css/confirmacaoEmailEnviado.css" />

<!-- SESSAO CONFIRMAÇÃO DE EMAIL ENVIADO  -->
<section class="container-fluid bannerInicial">
    <div class="divConfirmaEmail">
        <div class="row "><br><br><br><br><br><br><br><br><br><br><br></div>
        <div class="row">
            <div class="col-lg-4 col-sm-3 col-md-3"></div>
            <div id="textoConfirmaEmail" class="col-lg-4 col-sm-6 col-md-6 col-xs-12 container">

                <div class="row">
                    <center>
                        <h2 class="">EMAIL ENVIADO</h2>
                    </center>
                    <br>
                </div>

                <div class="row">
                    <h4 class="text-center">
                        Enviamos um email com as informações<br>
                        de recuperação de senha.<br>
                    </h4>
                </div>

            </div>
            <div class="col-lg-4 col-sm-3 col-md-3"></div>
        </div>
    </div>
</section>

