
@{
    ViewBag.Title = "RegisterConfirmed";
}

<link rel="stylesheet" type="text/css" media="screen" href="~/Content/css/confirmacaoCadastro.css" />

<!-- SESSAO CONFIRMAÇÃO DE CADASTRO  -->
<section class="container-fluid bannerInicial">
    <div class="divConfirmaCadastro">
        <div class="row "><br><br><br><br><br><br><br><br><br></div>
        <div class="row">
            <div id="ConfirmaCadastro">
                <div class="col-lg-4 col-sm-3 col-md-3"></div>
                <div id="textoConfirmaCadastro" class="col-lg-4 col-sm-6 col-md-6 col-xs-12 container">

                    <div class="row">
                        <center>
                            <h2 class="">CADASTRO CONFIRMADO</h2>
                        </center>
                        <br>
                    </div>

                    <div class="row">
                        <h4 class="text-center">
                            Seja bem-vindo ao Projeto PetAdote! <br>
                            Você acaba de se juntar à nossa comunidade,<br>
                            faça <a href="@Url.Action("Login", "Account")">login</a> em nossa plataforma e ajude nossos <br>
                            amiginhos.
                        </h4>
                    </div>

                </div>
                <div class="col-lg-4 col-sm-3 col-md-3"></div>
            </div>
        </div>
    </div>
</section>
