
@{
    ViewBag.Title = "CONFIRMAÇÃO DE REDEFINIÇÃO DE SENHA| Projeto PetAdote";
}

<title>CONFIRMAÇÃO DE REDEFINIÇÃO DE SENHA| Projeto PetAdote</title>
<link rel="stylesheet" type="text/css" media="screen" href="~/Content/css/confirmacaoRedefinirSenha.css" />

<!-- SESSAO CONFIRMAÇÃO DE REDEFINIÇÃO DE SENHA  -->
<section class="container-fluid bannerInicial">
    <div class="divConfirmaSenha">
        <div class="row ">
            <br><br><br><br><br><br><br><br><br><br><br>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-3 col-md-3"></div>
            <div id="textoConfirmaSenha" class="col-lg-4 col-sm-6 col-md-6 col-xs-12 container">

                <div class="row">
                    <center>
                        <h2 class="">SENHA REDEFINIDA</h2>
                    </center>
                    <br>
                </div>

                <div class="row">
                    <h4 class="text-center">
                        Sua senha foi redefinida com sucesso<br>
                        clique <a href="@Url.Action("Login", "Account")">aqui</a> para realizar o login.<br>
                    </h4>
                </div>

            </div>
            <div class="col-lg-4 col-sm-3 col-md-3"></div>
        </div>
    </div>
</section>
