
@{
    ViewBag.Title = "_NavHomePage";
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/css/projetoAdote.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/fonts.css" />
    <link href="~/Images/favicon.ico" rel="icon" type="image/x-icon" />
</head>

<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-fixed-top navbar-default corNav" id="#menuLayout">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                    <span class="icon-bar corIconBar"></span>
                    <span class="icon-bar corIconBar"></span>
                    <span class="icon-bar corIconBar"></span>
                </button>
                <span class="navbar-brand item-sidebar">Projeto PetAdote</span>
            </div>

            <div id="menu" class="collapse navbar-collapse">
                <ul class="nav navbar-nav corNav navbar-right">
                    <li><a href="Entrar.html" class="item-sidebar itemMenu2">Entrar</a></li>
                    <li><a href="Cadastro.html" class="item-sidebar itemMenu2">Cadastrar</a></li>
                </ul>
            </div>
        </div>
    </nav>
    @RenderBody()
</body>
</html>

